.active {
  background-color: #c5c5c5;
  color: red;
}
.nav-link{
  text-decoration: none;
  color: black;
}
.nav-item{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
li.nav-item > a {
  /*.nav-item > a is also okay but to be more specific li.nav-item*/
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background: #e1e1e1;
  font-size: 25px;
  font-family: sans-serif;
  /*padding: 50px;*/
}
.aboutme {
  padding: 50px;
}
nav{
  height: 50px;
  line-height:25px;
  text-align: right;
  padding: 0px;
  margin-right: 0px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50%;
}