#container {
	max-width: 960px;
	margin: 0 auto;
	background: #e1e1e1;
	font-size: 25px;
	font-family: sans-serif;
	padding: 40px 50px;
}
h1 {
	margin: 0;
	padding: 0;
}
#name-and-title {
	text-align: center;
}
#name-and-title-background {
	background: url('resume-1.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
	margin-top: 0;
	padding-top: 0;
}
h3 {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
}
h5 {
	margin: 0;
	padding: 13px 0 20px 0;
}
#career-objective {
	/*background-color: red;*/
}
p{
	margin-top: 10px;
}
ul {
	margin-top: 12px;
}
#career-objective-background {
	background: url('resume-2.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*border-radius: 2%;*/
	height: 500px;
}
#education {
	/*background-color: yellow;*/
}
#education-background {
	background: url('resume-3.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*border-radius: 2%;*/
	height: 500px;
}
#college-background {
	margin-top: 10px;
	background: url('resume-4.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*border-radius: 2%;*/
	height: 500px;
	margin-bottom: 10px;
}
#key-skills-and-competencies {
	/*background-color: orange;*/
}
#key-skills-and-competencies-background {
	background: url('resume-5.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*border-radius: 2%;*/
	height: 500px;
}
#work-experience {
	/*background-color: green;*/
}
#work-experience-background1 {
	background: url('tutor.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*border-radius: 2%;*/
	height: 500px;
}
#work-experience-background {
	background: url('resume-6.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*border-radius: 2%;*/
	height: 500px;
}
.relative-pos {
	position: relative;
	bottom:	35px;
	text-align: center;
}
.smaller-image {
    width: 250px;
    border-radius: 50%;
}
.active {
	background-color: #c5c5c5;
	color: red;
}
.inlinelink {
	padding: 5px 10px;
	background-color: #b5b5b5;
	border-radius: 10px;
	text-decoration: none;
	margin: 0 5px;
}
.nav-link{
	text-decoration: none;
	color: black;
}
.nav-item{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}
nav{
	height: 50px;
	line-height:25px;
	text-align: right;
	padding: 0px;
  	margin-right: 120px;
  	font-family: sans-serif;
  	font-size: 30px;
  	font-weight: bold;
}
li.nav-item > a {
	/*.nav-item > a is also okay but to be more specific li.nav-item*/
	margin-right: 5px;
	padding: 5px;
	border-radius: 10px;
}