body {    
  background-image: url('tokyo-at-day.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.active {
	background-color: #c5c5c5;
	color: red;
}
.nav-link{
	text-decoration: none;
	color: black;
}
.nav-item{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}
nav{
	height: 50px;
	line-height:25px;
	text-align: right;
	padding: 0px;
  	margin-right: 120px;
  	font-family: sans-serif;
  	font-size: 30px;
  	font-weight: bold;
}
li.nav-item > a {
	/*.nav-item > a is also okay but to be more specific li.nav-item*/
	margin-right: 5px;
	padding: 5px;
	border-radius: 10px;
}